@model Grocery_DAO.product

@{
    ViewBag.Title = "Delete";
}


<style>

    .formContainer {
        display: flex;
        justify-content: center;
        height: 84vh;
        background-image: Url('../../Content/Images/homeImage.jpg');
        background-size: cover;
        overflow-y: scroll;
    }
    .myFormDesign {
        margin-top: 50px;
        border-radius: 10px;
        //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 445px;
        height: fit-content;
        background-color: rgb(245 153 194 / 71%);
    }

    .container h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .txt-control {
        border-bottom: 1px solid #5555ff;
        border-top: 1px solid #5555ff;
    }

    .txt-label {
        font-weight: bold;
        border-bottom: 1px solid #5555ff; 
        border-top: 1px solid #5555ff;
    }

    .btn-submit {
        border-radius: 20px;
    }
</style>

<div class="formContainer">
    <div  class="myFormDesign" >
        <h2 class="text-center">Delete Product</h2>
        <div class="row  my-2">
            <span class="col-5 txt-label text-primary">FirstName</span>
            <span class="col-7 txt-control ">@Html.DisplayFor(model => model.user.firstName)</span>
        </div>


        <div class="row  my-2">
            <span class="col-5 txt-label text-primary ">Product Name</span>
            <span class="col-7 txt-control">@Html.DisplayFor(model => model.productName)</span>
        </div>


        <div class="row  my-2">
            <span class="col-5 txt-label text-primary ">Description</span>
            <span class="col-7 txt-control">@Html.DisplayFor(model => model.description)</span>
        </div>


        <div class="row  my-2">
            <span class="col-5 txt-label text-primary">Price</span>
            <span class="col-7 txt-control">@Html.DisplayNameFor(model => model.price)</span>
        </div>


        <div class="row  my-2">
            <span class="col-5 txt-label text-primary ">Stock Quantity</span>
            <span class="col-7 txt-control">@Html.DisplayNameFor(model => model.stockQuantity)</span>
        </div>


        <div class="row  my-2">
            <span class="col-5 txt-label text-primary ">Image</span>
            <span class="col-7 txt-control">
                <img src="@ViewBag.ImageData" width="50" height="50" />
            </span>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-submit" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-submit" })
            </div>
        }
    </div>
</div>
